* {
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
}
span {
  color: orange;
}
.container {
  background-image: url("images/top-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  padding: 2%;
  margin-bottom: 150px;
}
.info-text,
.side-image {
  width: 50%;
  padding-left: 5%;
}
.side-image img {
  width: 70%;
}

.info-text p {
  font-size: 18px;
}
.info-text .btn {
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(rgb(247, 132, 112), crimson);
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}
.mid-content {
  display: flex;
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 150px;
}
.experiences {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 150px;
}
.xp-container {
  display: flex;
  padding: 2%;
}

.lr-content {
  width: 50%;
  padding: 40px;
  margin-left: 5%;
  box-shadow: 5px 5px 40px gray;

  border-radius: 10px;
}
#baby-web {
  border-left: 8px solid blue;
}
#full-web {
  border-left: 8px solid #fb5200;
}
.lr-content,
.rl-content h1 {
  text-transform: capitalize;
}
.lr-content h3 {
  color: orange;
}
footer p {
  text-align: center;
  padding: 15px;
}
