* {
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
}
span {
  color: orange;
}
.container {
  background-image: url("images/top-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  padding: 2%;
  margin-bottom: 150px;
}
.info-text,
.side-image {
  width: 50%;
  padding-left: 5%;
}
.side-image img {
  width: 70%;
}

.info-text p {
  font-size: 18px;
}
.info-text .btn {
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(rgb(247, 132, 112), crimson);
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}
.mid-content {
  display: flex;
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
